<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de Seguros de Vida</title>
</head>
<body>
    <header>
        <h1>SEGUROS MONTERREY NEW LIFE</h1>
    </header>
    <div class="imagenes">
    <img src="assets/img/segurosmonterrynewyorklife.png" class="rounded" alt="img-grafico" style = "width:35%">
    <img src="assets/img/logo.png" alt="logo" width="50%" height="50%" class="d-inline-block align-text-top"/>
    </div>
    <hr>
    <nav>
        <ul>
            <li><a href="https://www.mnyl.com.mx/tokenizador.aspx">Tokenizador</a></li>
            <li><a href="https://www.mnyl.com.mx/">Seguros Monterrey</a></li>
            <li><a href="https://wa.me/4494535088">Contacto via Whatsapp</a></li>
        </ul>
    </nav>

    <section>
        <h2>¿Qué son los Seguros de Vida?</h2>
        <p>Los seguros de vida son contratos que proporcionan un pago a los beneficiarios designados en caso de fallecimiento del titular de la póliza. Estos seguros ofrecen seguridad financiera y tranquilidad a las familias, ya que ayudan a cubrir gastos relacionados con el fallecimiento, como deudas, gastos funerarios y el mantenimiento del nivel de vida.</p>
    </section>

    <section>
        <h2>Beneficios de los Seguros de Vida</h2>
        <ul>
            <li>Protección financiera para tu familia.</li>
            <li>Cubrimiento de gastos funerarios y deudas pendientes.</li>
            <li>Posibilidad de generar un ahorro a largo plazo.</li>
            <li>Posibles ventajas fiscales.</li>
        </ul>
    </section>

    <section>
        <h2>¿Por qué Elegirnos?</h2>
        <p>Nuestra compañía de seguros se dedica a proporcionar seguros de vida de alta calidad y brindar el mejor servicio a nuestros clientes. Contamos con años de experiencia y un equipo de expertos en seguros para garantizar tu tranquilidad y la de tus seres queridos.</p>
    </section>
    <hr>

    <footer>
        <ul>
            <li>Más Informacion</li>
            <li>Contáctanos a nuestro teléfono 449 453 50 88</li>
            <li>Nuestro correo electrónico renesalas821@gmail.com</li>
            <li>Consulta Nuestro aviso de Privacidad</li>
        </ul>

        <p>Derechos de autor &copy; 2023 Rene Salas Consultor</p>

    </footer>
</body>
</html>

